@mixin button
{
    perspective: 1px; /* any non-zero value will work */
    background-position: center center;
    background: rgb(100, 100, 110);

    border-radius: 5px;

    flex-shrink: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    box-shadow: 0px 0px 5px rgba(0,0,0,1), 0px 0px 0px 1px rgba(0,0,0,1), inset 0px 0px 5px rgba(255,255,255,0.2);

    //border: 1px solid rgba(0,0,0,0.1);

    .image
    {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .icon
    {
        max-width: 100%;
        max-height: 100%;
        padding: 6px;
    }

    &:hover
    {
        box-shadow: 0px 0px 10px rgba(0,0,0,1), 0px 0px 0px 1px rgba(0,0,0,1), inset 0px 0px 5px rgba(255,255,255,0.2);
    }

    &:active
    {
        box-shadow: 0px 0px 5px rgba(255,255,255,0.2), inset 0px 0px 0px 1px rgba(0,0,0,1), inset 0px 0px 5px rgba(0,0,0,1), inset 0px 0px 5px rgba(0,0,0,1);
    }
}



*
{
    box-sizing: border-box;
    cursor: default;
    user-select: none;
    
    ::-webkit-scrollbar
    {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track
    {
        background: rgba(100,100,100,0.5);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb
    {
        background: rgba(255,255,255,0.5);
        border-radius: 5px;
    }
    
    :focus
    {
        outline: none;
    }
}


html
{
	width: calc(100% - 15px);
    height: calc(100% - 15px);
    background: rgba(50, 50, 60, 0);
}

body
{
    width: 100%;
    height: 100%;
    padding: none;
    color: rgb(200, 200, 200);

    overflow: hidden;

    #app
    {
        margin-top: -8px;
        margin-left: -8px;
        width: calc(100% + 15px);
        height: calc(100% + 15px);
        background: rgba(50, 50, 60, 1);
        border: 2px solid rgba(255, 255, 255, 0.1);

        border-radius: 8px;
        overflow: hidden;

        #top-bar
        {
            margin-top: 0px;
            margin-left: 0px;
            width: calc(100%);
            height: 64px;
            border-radius: 5px;

            overflow: hidden;

            #window-controls
            {
                display: flex;

                align-items: center;

                margin-right: 4px;

                .window-control
                {
                    margin: 2px;
                    width: 24px;
                    height: 24px;
                    filter: invert(0.2);
                }

                .window-control.minimize
                {
                    background: url('./icons/minimize.png');
                    background-size: contain;
                    background-position: center;
                }
                .window-control.maximize
                {
                    background: url('./icons/maximize.png');
                    background-size: contain;
                    background-position: center;
                }
                .window-control.restore
                {
                    background: url('./icons/restore.png');
                    background-size: contain;
                    background-position: center;
                }
                .window-control.close
                {
                    background: url('./icons/close.png');
                    background-size: contain;
                    background-position: center;
                }
            }

            #title-bar
            {
                width: 100%;

                height: 32px;

                display: flex;

                background: rgba(255, 255, 255, 0.1);

                #title
                {
                    .icon
                    {
                        width: 24px;
                        height: 24px;

                        margin-right: 6px;
                    }

                    flex: 1 1 100%;

                    height: 100%;

                    padding-left: 6px;

                    -webkit-app-region: drag;

                    display: flex;
                    align-items: center;
                }
            }
        }

        #main
        {
            margin: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 68px);
            
            display: flex;
            flex-direction: column;
            overflow: hidden;

            #control-bar
            {
                height: 142px;
                width: 100%;

                background: rgba(255,255,255,0.1);

                padding: 8px;

                border-radius: 5px;

                input
                {
                    background: rgba(0,0,0,0);
                    color: rgb(200, 200, 200);

                    border: 1px solid black;
                    height: 28px;
                    position: relative;

                    padding-left: 4px;

                    top: -1px;

                    border-radius: 5px;
                }

                input[type=text]
                {
                    user-select: text;
                    background: rgba(255, 255, 255, 0.1);
                    cursor: text;
                }

                input[type=button]
                {
                    background: rgba(255, 255, 255, 0.1);
                    cursor: pointer;
                }

                #page-select
                {
                    display: inline-block;
                    position: relative;
                    width: 200px;
                    height: 28px;

                    .page-selector-button
                    {
                        background: rgba(0, 0, 0, 0.1);
            
                        padding-top: 4px;
                        padding-left: 4px;
                        width: 100%;
                        height: 100%;
            
                        border: 1px solid black;
                        border-radius: 5px;
                    }

                    .page-selector-button:after
                    {
                        font-size: 12px;

                        position: absolute;

                        top: 6px;
                        right: 5px;

                        content: '▼';
                    }

                    .page-selector-button.open:after
                    {
                        content:'▲';
                    }

                    .page-selector-content
                    {
                        margin-top: -3px;

                        background: rgb(50, 50, 60);
                        width: 200px;

                        display: none;
                        position: absolute;
                        z-index: 1;

                        border: 1px solid black;
                        border-radius: 5px;

                        padding-top: 4px;
                        padding-bottom: 4px;

                        .option
                        {
                            padding: 4px;
                        }
                        .option:hover
                        {
                            background: rgba(255, 255, 255, 0.1);
                        }
                    }

                    .page-selector-content.visible
                    {
                        display: block;
                    }

                    margin-bottom: -1px;
                }

                #page-buttons
                {
                    display: flex;

                    width: 100%;
                    height: 100px;

                    overflow: auto;

                    align-items: center;

                    .page-button
                    {
                        @include button;

                        margin-left: 8px;

                        width: 80px;
                        height: 80px;
                    }
                }
            }
            
            #pages
            {
                width: 100%;
                height: calc(100% - 132px);

                #home
                {
                    width: 100%;
                    height: calc(100% - 16px);
                    margin-top: 8px;

                    .core-page
                    {
                        width: 100%;
                        height: 100%;
            
                        display: flex;
                        //flex-direction: column;
                
                        flex-wrap: wrap;
                
                        overflow: auto;
                    
                        align-items: center;
                        justify-items: center;
                        justify-content: center;
                
                        .thumbnail
                        {
                            position: relative;
                            display: flex;
                        
                            align-items: center;
                            justify-items: center;
                            justify-content: center;
                        
                            flex: 1 1 100%;
                            max-width: 322px;
                            max-height: 322px;
                        
                            img.sample
                            {
                                max-width: 322px;
                                max-height: 322px;
                                width: auto;
                                height: auto;
                        
                                //object-fit: contain;
                                overflow: hidden;
                        
                                border-radius: 10px;
                
                                transform: scale(0.95);
                
                                -webkit-transition: transform 0.2s, box-shadow 0.2s;
                                transition: transform 0.2s, box-shadow 0.2s;
                
                                border: 1px solid transparent;
                            }
                            img.sample:hover
                            {
                                transform: scale(1);
                            }

                            .video
                            {
                                pointer-events: none;
                                
                                display: block;
                                position: absolute;
            
                                left: calc(50% - 50px);
                                top: calc(50% - 50px);

                                transform: scale(0.5);
                            }
                        }
                        
                        .thumbnail::before 
                        {
                            content: "";
                            float: left;
                            width: 1px;
                            margin-left: -1px;
                
                            padding-top: 100%;
                        }
                            
                        .thumbnail::after 
                        {
                            content: "";
                            display: table;
                            clear: both;
                        }
            
                        .scroll-text
                        {
                            height: 300px;
                            width: 100%;
            
                            display: flex;
                            justify-content: center;
                            align-content: center;
            
                            font-size: 24px;
                        }

                        .page-divider
                        {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            font-size: 20px;

                            width: 100%;
                            height: 100px;
                        }
                    }
                }

                .image-page
                {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;

                    .content
                    {
                        margin-top: 8px;

                        width: calc(100% - 300px);
                        height: calc(100% - 30px);
                        position: absolute;

                        left: 300px;

                        overflow: auto;
            
                        display: flex;
                        flex-direction: column;

                        justify-content: center;
                        align-items: center;

                        .loading
                        {
                            height: 1px;
                            background: rgba(255, 255, 255, 0.5);

                            margin-bottom: 8px;
                        }

                        .image-container
                        {
                            position: relative;
            
                            max-width: calc(100% - 40px);
                            max-height: calc(100%);
            
                            
                            max-width: auto;
                            max-height: auto;
                            
                            width: auto;
                            height: 100%;
            
                            .image
                            {
                                display: block;
            
                                width: auto;
                                height: auto;
                        
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
            
                        .image-container.fill
                        {
                            
                            height: auto;
                            max-width: none;
            
                            .image
                            {
                                max-width: none;
                            }
                        }
                    }

                    .side-bar
                    {
                        top: 4px;

                        position: absolute;

                        display: flex;
                        flex-direction: column;
                        
                        width: 300px;
                        height: calc(100% - 15px);
                        overflow: hidden;

                        .side-bar-buttons
                        {
                            height: 56px;
                            width: 100%;

                            .button
                            {
                                @include button;

                                background: rgb(80, 80, 90);

                                width: 46px;
                                height: 46px;
                            }
                        }

                        .tags
                        {
                            width: 100%;
                            flex: 1 1 100%;

                            overflow: auto;
    
                            border-radius: 5px;
    
                            background: rgba(255, 255, 255, 0.1);
    
                            .tag
                            {
                                //margin: 4px;
                                //margin-left: 8px;

                                padding: 4px;

                                display: flex;

                                .search-tag
                                {
                                    width: 20px;
                                    height: 20px;

                                    margin-right: 6px;

                                    @include button;
                                }

                                &:nth-child(odd)
                                {
                                    background: rgba(255,255,255,0.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.notification
{
    display: flex;
    position: absolute;
    max-width: 90%;
    padding-left: 4px;
    padding-right: 4px;

    left: calc(50% - 200px);
    
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    background: rgb(80, 80, 90);
    border: 1px solid rgba(255,255,255,0.1);
}