@charset "UTF-8";
* {
  box-sizing: border-box;
  cursor: default;
}

* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

* ::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}

* ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

* :focus {
  outline: none;
}

html {
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  background: rgba(50, 50, 60, 0);
}

body {
  width: 100%;
  height: 100%;
  padding: none;
  color: #c8c8c8;
  overflow: hidden;
}

body #app {
  margin-top: -8px;
  margin-left: -8px;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  background: #32323c;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

body #app #top-bar {
  margin-top: 0px;
  margin-left: 0px;
  width: calc(100%);
  height: 64px;
  border-radius: 5px;
  overflow: hidden;
}

body #app #top-bar #window-controls {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

body #app #top-bar #window-controls .window-control {
  margin: 2px;
  width: 24px;
  height: 24px;
  filter: invert(0.2);
}

body #app #top-bar #window-controls .window-control.minimize {
  background: url("./icons/minimize.png");
  background-size: contain;
  background-position: center;
}

body #app #top-bar #window-controls .window-control.maximize {
  background: url("./icons/maximize.png");
  background-size: contain;
  background-position: center;
}

body #app #top-bar #window-controls .window-control.restore {
  background: url("./icons/restore.png");
  background-size: contain;
  background-position: center;
}

body #app #top-bar #window-controls .window-control.close {
  background: url("./icons/close.png");
  background-size: contain;
  background-position: center;
}

body #app #top-bar #title-bar {
  width: 100%;
  height: 32px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
}

body #app #top-bar #title-bar #title {
  flex: 1 1 100%;
  height: 100%;
  padding-left: 6px;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
}

body #app #top-bar #title-bar #title .icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

body #app #main {
  margin: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 68px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body #app #main #control-bar {
  height: 142px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 5px;
}

body #app #main #control-bar input {
  background: transparent;
  color: #c8c8c8;
  border: 1px solid black;
  height: 28px;
  position: relative;
  padding-left: 4px;
  top: -1px;
  border-radius: 5px;
}

body #app #main #control-bar input[type=text] {
  user-select: text;
  background: rgba(255, 255, 255, 0.1);
  cursor: text;
}

body #app #main #control-bar input[type=button] {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

body #app #main #control-bar #page-select {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 28px;
  margin-bottom: -1px;
}

body #app #main #control-bar #page-select .page-selector-button {
  background: rgba(0, 0, 0, 0.1);
  padding-top: 4px;
  padding-left: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

body #app #main #control-bar #page-select .page-selector-button:after {
  font-size: 12px;
  position: absolute;
  top: 6px;
  right: 5px;
  content: '▼';
}

body #app #main #control-bar #page-select .page-selector-button.open:after {
  content: '▲';
}

body #app #main #control-bar #page-select .page-selector-content {
  margin-top: -3px;
  background: #32323c;
  width: 200px;
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

body #app #main #control-bar #page-select .page-selector-content .option {
  padding: 4px;
}

body #app #main #control-bar #page-select .page-selector-content .option:hover {
  background: rgba(255, 255, 255, 0.1);
}

body #app #main #control-bar #page-select .page-selector-content.visible {
  display: block;
}

body #app #main #control-bar #page-buttons {
  display: flex;
  width: 100%;
  height: 100px;
  overflow: auto;
  align-items: center;
}

body #app #main #control-bar #page-buttons .page-button {
  perspective: 1px;
  /* any non-zero value will work */
  background-position: center center;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  margin-left: 8px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 5px black, 0px 0px 0px 1px black, inset 0px 0px 5px rgba(255, 255, 255, 0.2);
}

body #app #main #control-bar #page-buttons .page-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body #app #main #control-bar #page-buttons .page-button:hover {
  box-shadow: 0px 0px 10px black, 0px 0px 0px 1px black, inset 0px 0px 5px rgba(255, 255, 255, 0.2);
}

body #app #main #control-bar #page-buttons .page-button:active {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2), inset 0px 0px 0px 1px black, inset 0px 0px 5px black, inset 0px 0px 5px black;
}

body #app #main #pages {
  width: 100%;
  height: calc(100% - 132px);
}

body #app #main #pages #home {
  width: 100%;
  height: calc(100% - 16px);
  margin-top: 8px;
}

body #app #main #pages #home .core-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

body #app #main #pages #home .core-page .thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex: 1 1 100%;
  max-width: 322px;
  max-height: 322px;
}

body #app #main #pages #home .core-page .thumbnail img.sample {
  max-width: 322px;
  max-height: 322px;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  transform: scale(0.95);
  -webkit-transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid transparent;
}

body #app #main #pages #home .core-page .thumbnail img.sample:hover {
  transform: scale(1);
}

body #app #main #pages #home .core-page .thumbnail .video {
  pointer-events: none;
  display: block;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  transform: scale(0.5);
}

body #app #main #pages #home .core-page .thumbnail::before {
  content: "";
  float: left;
  width: 1px;
  margin-left: -1px;
  padding-top: 100%;
}

body #app #main #pages #home .core-page .thumbnail::after {
  content: "";
  display: table;
  clear: both;
}

body #app #main #pages #home .core-page .scroll-text {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 24px;
}

body #app #main #pages #home .core-page .page-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 100px;
}

body #app #main #pages .image-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body #app #main #pages .image-page .content {
  margin-top: 8px;
  width: calc(100% - 300px);
  height: calc(100% - 30px);
  position: absolute;
  left: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body #app #main #pages .image-page .content .loading {
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}

body #app #main #pages .image-page .content .image-container {
  position: relative;
  max-width: calc(100% - 40px);
  max-height: calc(100%);
  max-width: auto;
  max-height: auto;
  width: auto;
  height: 100%;
}

body #app #main #pages .image-page .content .image-container .image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

body #app #main #pages .image-page .content .image-container.fill {
  height: auto;
  max-width: none;
}

body #app #main #pages .image-page .content .image-container.fill .image {
  max-width: none;
}

body #app #main #pages .image-page .tags {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 300px;
  height: calc(100% - 18px);
  overflow: auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

body #app #main #pages .image-page .tags .tag {
  margin: 4px;
  margin-left: 8px;
}

.notification {
  display: flex;
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #32323c;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
